<p>loginform works!</p><router-outlet></router-outlet>

<div class="container">
    <form class="form-horizontal" action="regform.component">
        <div class="form-group">
            <label class="col-sm-2">User Name:</label>
            <input class="col-sm-10" type="text" name="name">
        </div>
        <div class="form-group">
            <label class="col-sm-2">Password:</label>
            <input class="col-sm-10" type="password" name="psswrd">
        </div>
        <button type="submit"><a routerLink="reg">Login</a></button>
    </form>
</div>



